<article class="container mx-auto flex flex-col items-center">
  <div class="w-full max-w-5xl">
    <.live_component
      module={TextServerWeb.ExemplarLive.FormComponent}
      id={:edit_exemplar}
      title={@page_title}
      action={@live_action}
      exemplar={@exemplar}
      work={@exemplar.version.work}
      return_to={Routes.exemplar_show_path(@socket, :show, @exemplar)}
    />
  </div>
</article>
