<.live_component
	module={TextServerWeb.ExemplarLive.FormComponent}
	id={:new_exemplar}
	title={@page_title}
	action={@live_action}
	exemplar={@exemplar}
	return_to={Routes.exemplar_index_path(@socket, :index)}
/>
