<article class="container mx-auto flex flex-col items-center">
  <div class="w-full max-w-5xl">
    <.live_component
      module={TextServerWeb.VersionLive.FormComponent}
      id={:new_version}
      title={@page_title}
      action={@live_action}
      version={@version}
      project={@project}
      work={@selected_work}
      return_to={Routes.project_show_path(@socket, :show, @project)}
    />
  </div>
</article>
