<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Open Commentaries") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <header class="bg-alexandria-scrolls bg-center h-64">
      <nav class="bg-transparent">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                  <%= link("Open Commentaries",
                    to: Routes.page_path(@conn, :index),
                    class: "text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                  ) %>
                  <%= link("Projects",
                    to: Routes.page_path(@conn, :index),
                    class: "text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                  ) %>
                  <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                    <%= link("LiveDashboard",
                      to: Routes.live_dashboard_path(@conn, :home),
                      class: "text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                    ) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="flex flex-2 items-center justify-center h-16">
              <div class="block sm:mr-6">
                <div class="flex space-x-4">
                  <%= render("_user_menu.html", assigns) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
