<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="Open Commentaries - ">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link phx-track-static async rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
  </head>
  <body>
    <header class="bg-alexandria-scrolls bg-center h-64">
      <nav class="bg-transparent">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                  <%= link("Open Commentaries",
                    to: Routes.page_path(@conn, :index),
                    class: "text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                  ) %>
                  <%= link("Projects",
                    to: Routes.project_index_path(@conn, :index),
                    class: "text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                  ) %>
                  <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                    <%= link("LiveDashboard",
                      to: Routes.live_dashboard_path(@conn, :home),
                      class: "text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                    ) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="flex flex-2 items-center justify-center h-16">
              <div class="block sm:mr-6">
                <div class="flex space-x-4">
                  <%= render("_user_menu.html", assigns) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
    <footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
      <div class="border-t border-slate-900/5 py-10">
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">
          © Open Commentaries and the New Alexandria Foundation 2022
        </p>
      </div>
      <div class="mb-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
        <a href="https://gdpr.harvard.edu/eeaprivacydisclosures">Terms of use</a>
        <a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Digital Accessibility</a>
      </div>
    </footer>
  </body>
</html>
