@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert p {
	margin-bottom: 0;
}

.alert:empty {
	display: none;
}

.invalid-feedback {
	color: #a94442;
	display: block;
	margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
	display: none;
}

.phx-click-loading {
	opacity: 0.5;
	transition: opacity 1s ease-out;
}

.phx-loading {
	cursor: wait;
}

.phx-modal {
	opacity: 1 !important;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
	background-color: #fefefe;
	margin: 15vh auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.phx-modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.fade-in-scale {
	animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
	animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
	animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
	animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
	0% {
		scale: 0.95;
		opacity: 0;
	}

	100% {
		scale: 1.0;
		opacity: 1;
	}
}

@keyframes fade-out-scale-keys {
	0% {
		scale: 1.0;
		opacity: 1;
	}

	100% {
		scale: 0.95;
		opacity: 0;
	}
}

@keyframes fade-in-keys {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out-keys {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Styles for markdown copy (on project homepages)
 * Note that these styles must be descended from a node
 * with the .@@oc/user-markdown class, otherwise they will override
 * Tailwind's resets
 */

.\@\@oc\/user-markdown a {
	color: #44403c;
	/* tailwind's stone-700 */
	text-decoration: underline;
}

.\@\@oc\/user-markdown a:visited {
	color: #78716c;
	/* tailwind's stone-500 */
	text-decoration: underline;
}

.\@\@oc\/user-markdown>h1 {
	font-weight: bolder;
	font-size: xx-large;
	margin-bottom: 1.1rem;
}

.\@\@oc\/user-markdown>h2 {
	font-weight: bold;
	font-size: x-large;
	margin-bottom: 1.0rem;
	margin-top: 2.0rem;
}

.\@\@oc\/user-markdown>h3 {
	font-weight: bold;
	font-size: large;
	margin-bottom: 1.0rem;
}

.\@\@oc\/user-markdown>h4 {
	font-weight: bold;
	font-size: medium;
	margin-bottom: 0.9rem;
}

.\@\@oc\/user-markdown>h5 {
	font-weight: 500;
	font-size: medium;
	margin-bottom: 0.9rem;
}

.\@\@oc\/user-markdown>h6 {
	font-weight: 500;
	font-size: medium;
	margin-bottom: 0.9rem;
}

.\@\@oc\/user-markdown li {
	line-height: 1.5;
	list-style-type: disc;
	margin-left: 0.9rem;
}

.\@\@oc\/user-markdown>p {
	margin-bottom: 0.9rem;
}

.\@\@oc\/user-markdown ul {
	margin-bottom: 0.9rem;
}

/** Begin tei.css --- based on work by Luke Hollis and the IIP Project */

/* 2023-03-22 CR editing multiple elements */
/* 2020-02-11 EM editing gap CSS */

tei-gap[reason='ellipsis'] {
	content: '...';
}

tei-num {
	unicode-bidi: bidi-override;
	direction: ltr;
	text-align: left;
}

tei-div {
	display: block;
	margin-left: 3em;
}

tei-p {
	counter-reset: lines;
	counter-increment: lines;
}

tei-lb {
	counter-increment: lines 1;
}

tei-div:hover tei-lb::after {
	display: block;
	float: left;
	opacity: 0.5;
	content: counter(lines);
	margin-left: -3em;
}

tei-p tei-lb:nth-of-type(5n-1)::after {
	display: block;
	float: left;
	content: counter(lines);
	margin-left: -3em;
}

tei-div[type='textpart']::before {
	display: block;
	margin-left: -1em;
	margin-top: 4px;
	text-transform: capitalize;
	font-variant: small-caps;
	opacity: 0.7;
	content: attr(subtype) ' ' attr(n);
}