<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="Open Commentaries - ">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static async rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-alexandria-scrolls">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 justify-between">
            <div class="flex">
              <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8 sm:items-center">
                <.link href={~p"/"} class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium">
                  Open Commentaries
                </.link>
                <.link href={~p"/projects"} class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium">
                  Projects
                </.link>
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:items-center">
              <%= if @current_user do %>
                <.link
                  href={~p"/#{@current_user.id}/projects"}
                  class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                >
                  My Projects
                </.link>
                <.link href={~p"/users/settings"} class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium">
                  Settings
                </.link>
                <.link
                  href={~p"/users/log_out"}
                  method="delete"
                  class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium"
                >
                  Log out
                </.link>
              <% else %>
                <.link href={~p"/users/register"} class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium">
                  Sign up
                </.link>
                <.link href={~p"/users/log_in"} class="text-white hover:text-gray-300 px-3 py-2 text-sm font-medium">
                  Log in
                </.link>
              <% end %>
            </div>
            <div class="-mr-2 flex items-center sm:hidden">
              <label
                class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-stone-400 hover:bg-stone-100 hover:text-stone-500 focus:outline-none focus:ring-2 focus:ring-stone-500 focus:ring-offset-2 opacity-75"
                for="mobile-menu-button"
              >
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!-- Menu open: "hidden", Menu closed: "block" -->
                <svg
                  class="block h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </label>
            </div>
          </div>
        </div>
        <!-- Mobile menu, show/hide based on menu state. -->
        <!-- Mobile menu button -->
        <input
          type="checkbox"
          class="appearance-none fixed h-0 w-0 opacity-0 menu-toggle"
          aria-controls="mobile-menu"
          id="mobile-menu-button"
        />
        <div class="hidden menu-toggle-checked:block" id="mobile-menu">
          <div class="border-t border-gray-200 pb-3 pt-4">
            <div class="mt-3 space-y-1 pointer-events-auto">
              <.link href={~p"/"} class="block px-4 py-2 text-base font-medium text-white hover:opacity-75">
                Open Commentaries
              </.link>
              <.link href={~p"/projects"} class="block px-4 py-2 text-base font-medium text-white hover:opacity-75">
                Projects
              </.link>
              <%= if @current_user do %>
                <.link
                  href={~p"/#{@current_user.id}/projects"}
                  class="block px-4 py-2 text-base font-medium text-white hover:opacity-75"
                >
                  My Projects
                </.link>

                <.link
                  href={~p"/users/settings"}
                  class="block px-4 py-2 text-base font-medium text-white hover:opacity-75"
                >
                  Settings
                </.link>
                <.link
                  href={~p"/users/log_out"}
                  method="delete"
                  class="block px-4 py-2 text-base font-medium text-white hover:opacity-75"
                >
                  Log out
                </.link>
              <% else %>
                <.link
                  href={~p"/users/register"}
                  class="block px-4 py-2 text-base font-medium text-white hover:opacity-75"
                >
                  Sign up
                </.link>
                <.link
                  href={~p"/users/log_in"}
                  class="block px-4 py-2 text-base font-medium text-white hover:opacity-75"
                >
                  Log in
                </.link>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
      <div class="py-10">
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <%= @inner_content %>
          </div>
        </main>
      </div>
    </div>
    <script defer type="text/javascript" src={~p"/assets/app.js"}></script>
  </body>
</html>
