<.live_component
  module={TextServerWeb.ProjectLive.FormComponent}
  id={:new}
  title={@page_title}
  action={@live_action}
  project={@project}
  return_to={Routes.project_user_project_index_path(@socket, :index, @current_user.id)}
/>
