<.live_component
  module={TextServerWeb.ProjectLive.FormComponent}
  id={:new}
  action={@live_action}
  project={@project}
  return_to={~p"/#{@current_user.id}/projects"}
  title={@page_title}
  user={@current_user}
/>
