<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="text_element-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <%= label(f, :end_urn) %>
    <%= text_input(f, :end_urn) %>
    <%= error_tag(f, :end_urn) %>

    <%= label(f, :attributes) %>
    <%= text_input(f, :attributes) %>
    <%= error_tag(f, :attributes) %>

    <div>
      <%= submit("Save", phx_disable_with: "Saving...") %>
    </div>
  </.form>
</div>
