<article>
  <.reading_location location={List.first(@text_nodes).location} />

  <.reading_page page={@page} text_nodes={@text_nodes} />

  <Components.footnotes footnotes={@footnotes} />

  <Components.pagination current_page={@page.page_number} total_pages={@page.total_pages} />
</article>
