<article>
  <.reading_location
    top_level_toc={@top_level_toc}
    second_level_toc={@second_level_toc}
  />

  <.reading_page text_nodes={@text_nodes} />

  <Components.footnotes footnotes={@footnotes} />

  <Components.pagination current_page={@page.page_number} total_pages={@page.total_pages} />
</article>
