<article>
  <.reading_page text_nodes={@text_nodes} />

  <Components.footnotes footnotes={@footnotes} />

  <Components.pagination current_page={@passage.passage_number} total_pages={@passage.total_passages} />
</article>
